bitbucket.txt

# Compiled
*.pyc
._*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.sql
*.sqlite
*.sqlite3

# MySQL confs


# pycharm settings
.idea/

# Local settings(add here)


# server static(add here)
static_server/

# media(add here)
media/